/* .nav{
  color: white;
  font-size: 30px;
  display: flex;   
  margin-right: 50px;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  background-color: rgb(170, 249, 249)
} */

#watchadoin {
  padding: 30px 40px;
}

#signUp h2 {
  padding: 12px;
}
#login h2 {
  padding: 10px 0 10px 50px;
}

#signUp input,
#login input {
  margin-bottom: 10px;
}

#signUp form,
#login form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#signUp div,
#login div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#signUp button,
#login button {
  margin-top: 20px;
  width: 150px;
}

div.auth {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 501px) {
  #watchadoin {
    padding: 50px 70px;
  }

  .signup-container {
    display: flex;
  }
}

@media only screen and (min-width: 901px) {
  #signUp {
    padding-left: 5%;
  }
}
