nav {
  /* color: white; */
  font-size: 30px;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

nav.logged-out {
  align-items: center;
}
nav.logged-out .log-in {
  margin-right: 10px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container {
  display: flex;
  justify-content: center;
}

#watchadoin-descr {
  padding: 30px 40px;
}

#signUp h2 {
  padding: 12px;
}
#login h2 {
  padding: 10px;
}

#signUp {
  width: 80vw;
  max-width: 400px;
}

#login {
  width: 80vw;
  max-width: 400px;
}

#signUp input,
#login input {
  margin-bottom: 10px;
}

#signUp form,
#login form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#signUp div,
#login div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#signUp button,
#login button {
  margin-top: 20px;
  width: 150px;
}

div.auth {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 701px) {
  #watchadoin-descr {
    padding: 50px 70px;
    width: 50%;
  }

  .signup-container {
    display: flex;
    flex-direction: row;
  }

  #signUp {
    width: 40%;
  }
}

@media only screen and (min-width: 901px) {
  #signUp {
    padding-right: 5%;
  }
}
