#DashboardPage header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#DashboardPage .welcome {
  padding: 10px 0 0 50px;
}

#DashboardPage .link {
  padding: 20px;
}

#DashboardPage .red-border {
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
}

#DashboardPage .upcomingEvents h2,
#DashboardPage .newEvents h2 {
  background-color: rgb(231, 169, 169);
  color: white;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
  padding: 20px;
}

#DashboardPage .upcomingEv,
#DashboardPage .newEv,
#DashboardPage .newEvents p.noEvents,
#DashboardPage .upcomingEvents p.noConfirmed {
  padding: 0 20px;
}

#DashboardPage .upcomingEv p,
#DashboardPage .newEv p {
  margin: 3px 0;
}

#DashboardPage .upcomingEv .description,
#DashboardPage .newEv .description {
  font-style: italic;
  line-height: 20px;
}

#DashboardPage .upcomingEv button,
#DashboardPage .newEvents .btn-group {
  margin-top: 8px;
}

#DashboardPage .newEvents button.join {
  padding: 0 20px;
}

@media only screen and (max-width: 700px) {
  #DashboardPage .row1,
  #DashboardPage .row2 {
    width: 94%;
    padding-bottom: 20px;
  }
  #DashboardPage .dashboardComponents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 701px) {
  #DashboardPage .dashboardComponents {
    display: flex;
    justify-content: space-around;
  }

  #DashboardPage .upcomingEvents,
  #DashboardPage .newEvents {
    max-width: 46vw;
  }
  #DashboardPage .row1 {
    padding-left: 1vw;
  }
  #DashboardPage .row2 {
    padding-right: 1vw;
  }
}
