#DashboardPage header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#DashboardPage .welcome {
  padding: 10px 0 0 50px;
  font-size: 18px;
}

#DashboardPage .link {
  padding: 20px;
}

#DashboardPage .red-border {
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
}

#DashboardPage .confirmedEvents {
  background-color: rgb(237, 255, 240);
}
#DashboardPage .newEvents {
  background-color: rgb(255, 253, 230);
}
#DashboardPage .confirmedEvents h4 {
  background-color: rgb(112, 172, 123);
  color: white;
}
#DashboardPage .newEvents h4 {
  background-color: rgb(251, 184, 0);
  color: white;
}

#DashboardPage .confirmedEvents h2,
#DashboardPage .newEvents h2 {
  background-color: rgb(231, 169, 169);
  color: white;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
  padding: 20px;
}

#DashboardPage .event-title,
#DashboardPage .event-body,
#DashboardPage .confirmedEvents p.noConfirmed,
#DashboardPage .newEvents p.noEvents {
  padding: 0 20px;
}
#DashboardPage .event-title {
  padding-bottom: 2px
}

#DashboardPage .confirmedEv p,
#DashboardPage .newEv p {
  margin: 3px 0;
}

#DashboardPage .confirmedEv .description,
#DashboardPage .newEv .description {
  font-style: italic;
  line-height: 20px;
}

#DashboardPage .confirmedEv button,
#DashboardPage .newEvents .btn-group {
  margin-top: 8px;
}

#DashboardPage .confirmedEv button {
  background-color: white;
  transition-duration: 0.2s;
}
#DashboardPage .confirmedEv button:hover {
  font-weight: 600;
  padding: 6px 11px 6px 11px;
  background-color: rgb(251, 184, 0);
}

#DashboardPage .newEvents button.join {
  padding: 0 20px;
}

@media only screen and (max-width: 700px) {
  #DashboardPage .row1,
  #DashboardPage .row2 {
    width: 94%;
    padding-bottom: 20px;
  }
  #DashboardPage .dashboardComponents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 701px) {
  #DashboardPage .dashboardComponents {
    display: flex;
    justify-content: space-around;
  }

  #DashboardPage .confirmedEvents,
  #DashboardPage .newEvents {
    max-width: 46vw;
  }
  #DashboardPage .row1 {
    padding-left: 1vw;
  }
  #DashboardPage .row2 {
    padding-right: 1vw;
  }
}


/* EVENT DETAIL PAGE */
.row-of-friends p {
  padding-top: 10px;
  padding-right: 30px;
}