nav.logged-in {
  margin-right: 50px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome {
  padding: 10px 0 0 50px;
}

.link {
  padding: 20px;
}

.dashboardComponents {
  display: flex;
  justify-content: space-around;
}

.red-border {
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
}

.upcomingEvents,
.newEvents {
  max-width: 45vw;
}

.upcomingEvents h2,
.newEvents h2 {
  background-color: rgb(231, 169, 169);
  color: white;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
  padding: 20px;
}

.upcomingEv,
.newEv,
.newEvents p.noEvents,
.upcomingEvents p.noConfirmed {
  padding: 0 20px;
}

.upcomingEv p,
.newEv p {
  margin: 3px 0;
}

.upcomingEv .description,
.newEv .description {
  font-style: italic;
  line-height: 20px;
}

.upcomingEv button,
.newEvents .btn-group {
  margin-top: 8px;
}

.newEvents button.join {
  padding: 0 20px;
}

.fa-lemon{
  width: 100px;
  color: #e1e510;
}
