/* img {
    width: 6%;
} */

.search-form {
  display: flex;
  flex-direction: column;
}

/* .name-link{
    text-decoration: none;
    color: beige;
} */

.friend-icon-container {
  display: inline-block;
  width: 55px;
}
