nav.logged-in div.search-form {
  margin-right: 50px;
}
nav.logged-in .nav-link {
  padding: 7px 0 0 0;
}

nav.logged-in .navbar-brand {
  padding-top: 0px;
}
.navbar-brand img {
  max-width: 200px;
}

.search-form {
  display: flex;
  flex-direction: column;
}

/* .name-link{
    text-decoration: none;
    color: beige;
} */

.friend-icon-container {
  display: inline-block;
  width: 55px;
}

.search-form {
  position: relative;
}

.search-dropdown {
  background-color: white;
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
  margin: 2px;
  padding: 10px;
  z-index: 1;
}

nav.navbar.logged-in {
  padding-top: 15px;
  border-bottom: 1px solid #828282;
}

@media only screen and (max-width: 296px) {
  nav.logged-in div.container-fluid {
    padding: 0 2px;
  }
}

@media only screen and (max-width: 767px) {
  nav.logged-in ul {
    display: flex;
    align-items: center;
    width: 100%;
  }
  nav.logged-in div.search-form {
    margin: 10px 20px;
  }

}
@media only screen and (min-width: 768px) {
  nav.logged-in .profile-link {
    padding-left: 20px;
  }
  nav.logged-in .sign-out {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 992px) {
  nav.logged-in .nav-link {
    padding-bottom: 8px;
  }
}