#FriendsPending img,
.friend-icon {
  max-height: 40px;
  max-width: 40px;
}

.img-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium-size-avatar {
  height: 100px;
  max-width: 120px;
}

.bigSizeAvatar {
  height: 200px;
  max-width: 240px;
}
.my-event .title {
  display: flex;
}
.my-event .title h5 {
  padding-top: 3px;
}

.my-event p {
  margin: 3px 0;
}

.my-event .description {
  font-style: italic;
  line-height: 20px;
}

.edit-button {
  height: 30px;
  margin-left: 5px;
}

.edit-button .smallIcon {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
}

.delete-button {
  margin-top: 8px;
}

#FriendsPending p {
  margin: 0;
}
/* Update event */
.modal-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-title {
  font-size: 25px;
}

/* CreateEvent */
#CreateEvent {
  max-width: 500px;
  margin: auto;
}

div.dateTime {
  display: flex;
}

div.dateTime label {
  padding-right: 10px;
}

div.dateTime input {
  width: 180px;
}

label.location {
  padding-right: 10px;
}

.dropdown.invite {
  padding-bottom: 1px;
}

#CreateEvent .btn-outline-dark {
  width: 150px;
}

#CreateEvent .btn-create-container {
  display: flex;
  justify-content: center;
}

#CreateEvent .btn-create {
  padding: 10px 20px;
}

/* ---------------- MyEvents ---------------- */
#MyEvents {
  margin: auto;
  width: 80%;
}

/* Alternative way of displaying columns. In the end I opted for a bootstrap trick */
/* #MyEvents .event-cards {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  break-inside: avoid-column;
} */

#MyEvents .event-cards {
  margin-left: 8vw;
}

/* this is so that the google-autocomplete dropdown is shown inside the modal, and not behind it */
div.pac-container {
  z-index: 99999999999 !important;
}

#welcome {
  padding-right: 30px;
}

.row-flex {
  display: flex;
  align-items: center;
}

#FriendsPending .row-flex {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

#OwnProfile .first-section {
  display: flex;
  justify-content: center;
}

#OwnProfile .edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5%;
  padding-top: 10px;
}

.accordion-item {
  width: 50vw;
}

div.row-of-friends {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px 10px 10px;
}

/* .row-of-friends img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

div.friend-icon-container {
  height: 70px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px;
}

.lists h5 {
  padding: 10px 0 0 10px;
}

/* Create Invite List */

#CreateInviteList div.col-6 {
  padding-top: 10px;
}

#CreateInviteList .btn-container {
  display: flex;
  justify-content: center;
  padding: 25px 0 5px 0;
}

/* EVENT DETAILS */
.event-creator,
.event-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
  margin: 2px;
}

.row-of-friends {
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
  margin: 5px;
  padding: 0;
  justify-content: center;
}

.row-of-friends p {
  padding-top: 10px;
  padding-right: 30px;
}

.event-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-creator {
  width: 27vw;
}

.event-body {
  width: 68vw; /* changeLater */
  justify-content: center;
}

.event-title {
  font-size: 20px;
  font-weight: bold;
}

#Alert {
  background-color: rgb(255, 221, 221);
  padding: 10px 15px;
  border-radius: 10px;
}

.map-container {
  height: 400px;
}

.marker {
  background-image: url("mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* EDIT PROFILE PICTURE */
.goodMessage {
  background-color: rgb(158, 253, 161);
  border-radius: 10px;
  padding: 10px 20px;
  max-width: 330px;
}