/* #FriendsAll {
    background-color: rgb(255, 193, 233);
  }
  
  #FriendsOverview {
    background-color: rgb(250, 255, 185);
  }
  
  #InviteList {
    background-color: rgb(213, 255, 174);
  }
  
  #FriendsPending {
    background-color: rgb(239, 239, 212);
  } */

#FriendsPending img,
.friend-icon {
  height: 40px;
  max-width: 50px;
}

.medium-size-avatar {
  height: 100px;
  max-width: 120px;
}

.bigSizeAvatar {
  height: 200px;
  max-width: 240px;
}
.my-event-title {
  display: flex;
}
.my-event-title h5 {
  padding-top: 3px
}

.edit-button {
  height: 30px;
  margin-left: 5px;
}

button .smallIcon {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
}

#FriendsPending p {
  margin: 0;
}

/* CreateEvent */
#CreateEvent {
  max-width: 500px;
  margin: auto;
}

div.dateTime {
  display: flex;
}

div.dateTime label {
  padding-right: 10px;
}

div.dateTime input {
  width: 180px;
}

label.location {
  padding-right: 10px;
}

#MyEvents {
  margin: auto;
  width: 80%;
}

/* Alternative way of displaying columns. In the end I opted for a bootstrap trick */
/* #MyEvents .event-cards {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  break-inside: avoid-column;
} */

#MyEvents .event-cards {
  margin-left: 8vw;
}

/* this is so that the google-autocomplete dropdown is shown inside the modal, and not behind it */
div.pac-container { z-index: 99999999999 !important; }

#welcome {
  padding-right: 30px;
}

.row-flex {
  display: flex;
  align-items: center;
}

#FriendsPending .row-flex {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

#OwnProfile .first-section {
  display: flex;
  justify-content: center;
}

#OwnProfile .edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5%;
  padding-top: 10px;
}

.accordion-item {
  width: 50vw;
}

#FriendsAll,
.invite-users {
  display: flex;
  flex-wrap: wrap;
}

.few-friends img,
.friend img,
.invite-users img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.few-friends,
.friend,
.invite-user {
  padding: 10px 3px;
}

.friend {
  display: flex;
  flex-direction: column;
}

.lists {
  padding: 10px;
}

.list p {
  margin: 0;
}

.dropdown.invite {
  padding-bottom: 1px;
}

#map {
  height: 300px; /* The height is 400 pixels */
  width: 90%; /* The width is the width of the web page */
}

/* EVENT DETAILS */
.event-creator,
.event-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
  margin: 2px;
}

.invite-users {
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 125, 125, 0.5);
  margin: 2px;
  padding: 0;
  justify-content: center;
}

.invite-users p {
  align-self: start;
  padding-top: 10px;
  padding-left: 10px;
}

.event-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-creator {
  width: 27vw;
}

.event-body {
  width: 68vw; /* changeLater */
  justify-content: center;
}

.event-title {
  font-size: 20px;
  font-weight: bold;
}

#Alert {
  background-color: rgb(255, 221, 221);
  padding: 10px 15px;
  border-radius: 10px;
}