#Footer {
  margin-top: 20px;
  padding: 10px 0;
  font-size: 12px;
  border-top: 1px solid rgb(110, 110, 110);
}
#Footer div.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#Footer p {
  margin: 0;
  padding-right: 10px;
}
#Footer img.logo {
  width: 30px;
  padding-right: 6px;
}

div.anti-footer {
  min-height: calc(100vh - 65px);
}
