#Footer {
  margin-top: 20px;
  padding: 10px 0;
  font-size: 12px;
  border-top: 1px solid rgb(110, 110, 110);
}
#Footer div.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#Footer p {
  margin: 0;
  padding-right: 10px;
}
#Footer img.logo {
  width: 30px;
  padding-right: 6px;
}

div.anti-footer {
  min-height: calc(100vh - 65px);
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #9e9e9e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}